{% extends "layout.html" %} {% block content %}
<link href="../static/css/bootstrap.min.css" rel="stylesheet" />
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>
<div class="jumbotron text-center">
  <h1>Graphical Password Authentication System</h1>
  {% if login %}
  <p>Welcome back, !</p>
  {% else %}
  <p>Create an account to get started!</p>
  {% endif %}
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>What is a graphical password authenticator?</h3>
      <p>
        Method of authentication where a user uses images that serve as
        passwords instead of textual passwords.
      </p>
      <p>
        In this type of system, a user selects a number of images images, in a
        specific order, presented to them in a graphical user interface (GUI).
      </p>
    </div>
    <div class="col-sm-4">
      <h3>What technologies were used to build this webapp?</h3>
      <ul>
        <li style="font-size: medium">Flask Frameword</li>
        <li style="font-size: medium">SQLite Database</li>
        <li style="font-size: medium">HTML/CSS/Javascript</li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h3>How do you use this webapp?</h3>
      <p>Click on Signup to create an account a grahical password.</p>
      <p>Then, test the password you created on the Login page!</p>
    </div>
  </div>
</div>

{% endblock %}
