{% extends "layout.html" %}

{% block content %}
<div class="text-center form-signin w-100 m-auto">
  <form action="{{ url_for('signup') }}" method="post">
    <h2 class="h2 fw-normal">Create a New Account</h2>
    <div class="form-floating" style="margin: 3% 0%">
      <input
        type="text"
        class="form-control"
        placeholder="Username"
        style="height: 40px"
        name="username"
        required
      />
      <label>Username</label>
    </div>
    <div class="form-floating" style="margin: 3% 0%">
      <input
        type="date"
        class="form-control"
        placeholder="Birthday"
        style="height: 50px"
        name="birthday"
        required
      />
      <label>Birthday</label>
    </div>
    <div class="form-floating" style="margin: 3% 0%">
      <input
        type="email"
        class="form-control"
        placeholder="name@example.com"
        style="height: 40px"
        name="email"
        required
      />
      <label>Email address</label>
    </div>
    <div class="form-floating" style="padding: 5%; display: inline">
      <p class="p">Select 8 images as your graphical password:</p>
      <div class="grid">
        {% for data in imageData %}
        <label>
          <input type="checkbox" name="selected_images" value="{{ data['alt'] }}" />
          <img src={{data["image"]}} alt={{data["alt"]}}>
        </label>
        {% endfor %}
      </div>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
  </form>
</div>
{% endblock %}
