{% extends "layout.html" %} {% block content %}
<div class="text-center form-signin w-100 m-auto">
  <form>
    <h2 class="h2 fw-normal">Create an New Account</h2>
    <div class="form-floating" style="margin: 3% 0%">
      <input
        type="text"
        class="form-control"
        placeholder="Username"
        style="height: 40px"
      />
      <label>Username</label>
    </div>
    <div class="form-floating" style="margin: 3% 0%">
      <input
        type="date"
        class="form-control"
        placeholder="Birthday"
        style="height: 50px"
      />
      <label>Birthday</label>
    </div>
    <div class="form-floating" style="margin: 3% 0%">
      <input
        type="email"
        class="form-control"
        placeholder="name@example.com"
        style="height: 40px"
      />
      <label>Email address</label>
    </div>
    <div class="form-floating" style="padding: 5%; display: inline">
      <p class="p">Select 6 images as your graphical password:</p>
      <div class="grid">
        <button class="btn btn-sm btn-light">
          <img src="../static/images/image.png" alt="Image 1" />
        </button>
        <button class="btn btn-sm btn-light">
          <img src="../static/images/image.png" alt="Image 1" />
        </button>
        <button class="btn btn-sm btn-light">
          <img src="../static/images/image.png" alt="Image 1" />
        </button>
        <button class="btn btn-sm btn-light">
          <img src="../static/images/image.png" alt="Image 1" />
        </button>
        <button class="btn btn-sm btn-light">
          <img src="../static/images/image.png" alt="Image 1" />
        </button>
      </div>
      <input type="hidden" id="password" name="password" />
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <!-- <p class="mt-5 mb-3 text-muted">&copy; 2022</p> -->
  </form>
</div>
<script type="text/javascript">
  // Keep track of selected images
  var selectedImages = [];

  // Add click event listener to images
  var images = document.querySelectorAll(".grid img");
  images.forEach(function (image) {
    image.addEventListener("click", function () {
      if (selectedImages.length < 5 && !selectedImages.includes(image.alt)) {
        selectedImages.push(image.alt);
        image.style.border = "5px solid green";
      } else if (selectedImages.includes(image.alt)) {
        var index = selectedImages.indexOf(image.alt);
        if (index !== -1) {
          selectedImages.splice(index, 1);
          image.style.border = "none";
        }
      }
      document.getElementById("selected_images").value =
        selectedImages.join(",");
    });
  });
</script>
{% endblock %}
