<div style="margin: 0% 0% 0% 0%">
  <header
    class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
    style="padding: 0% 2% 0% 2%"
  >
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma-directive: no-cache" />
    <meta http-equiv="Cache-directive: no-cache" />
    <a
      href="{{url_for('index')}}"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none navbar-brand"
    >
      <img src="../../static/images/logo.png" alt="" style="width: 70px" />
    </a>

    <ul class="nav nav-pills" style="margin: 0%">
      <li class="nav-item">
        <a
          href="{{url_for('index')}}"
          class="nav-link active"
          aria-current="page"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a href="{{url_for('login')}}" class="nav-link">Login</a>
      </li>
      <li class="nav-item">
        <a href="{{url_for('signup')}}" class="nav-link">Signup</a>
      </li>
    </ul>
  </header>
</div>
